# Quizz 1 - Python basics

## a) type

### Create a variable 'string' containing "toto" and a variable 'number' containing the number 10.

In [1]:
string = "toto"
number = 10

### Convert 'string' to unicode and 'number' in float

In [8]:
import re
#Convert string to unicode
test_string = 'crazytocrazy'
res = (re.sub('.', lambda x: r'\u % 04X' % ord(x.group()), test_string)) 
  
print("The unicode converted String : " + str(res)) 

#Convert number to float
number = 100

num_float = float(number)
print(num_floatat)

The unicode converted String : \u  063\u  072\u  061\u  07A\u  079\u  074\u  06F\u  063\u  072\u  061\u  07A\u  079
100.0

### Reverse the contents of the variables 'string' and 'number' (in 1 line).

In [13]:
str_rev = "Hello world" [::-1]
print(str_rev)
int_num = str(123456789) [::-1]
print(int_num)

dlrow olleH
987654321

## b) List

### Create a list `A`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [3]:
a = [1,3,2,7,4,10,46]


### Display the first 3 items in list `A` - in one line of code

In [29]:
print(a[0:3])

[1, 3, 2]

### Create a list `B` that contains only the 3rd, 4th and 5th elements of `A` . Your line of code should only contain 8 characters (not including spaces) - Check your result carefully!

In [31]:
b = a[2:5]
print(b)

[2, 7, 4]

### Concatenate lists `A` and `B` to form list `C`.

In [32]:
c = a + b
print(c)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### Using the zip function, associate the values of `A` and `B` in the variable `D`

In [36]:
d = list(zip(a,b))
print(d)

[(1, 2), (3, 7), (2, 4)]

### Add the number 5 to list `A`

In [37]:
a.append(5)
print(a)

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to the `C` list

In [41]:
c.append(None)
print(c)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None, None, None]

### Write a function that takes as arguments a list 'lst' and an integer 'n' and returns the result of n concatenations of 'lst' with itself (e.g. lst=[1,2,3], n=2 --> [1,2,3,1,2,3]).

In [43]:

def concat(lst, n):
    for i in range(n-1):
        lst.extend(lst)
    return lst
concat([1,2,3],2)

[1, 2, 3, 1, 2, 3]

### You want to make parameter 'n' optional and set its value to 2 by default. How do you do it?

In [44]:
def concat(lst, n = 2):
    for i in range(n-1):
        lst.extend(lst)
    return lst
concat([1,2,3])

[1, 2, 3, 1, 2, 3]

###  With a 'while' loop, print each element of the `C` list up to the `null` element.

In [47]:
x = 1
while x < len(c):
    print(c[x])
    x = x +1

3
2
7
4
10
46
2
7
4
None
None
None

### Calculate, with a 'for' loop, the number of even integers present in the list A

In [124]:
intergers = 0
num_items = len(c)
 
for i in range(0,len(c)):
    if c[i] is None:
       # print("none")
        pass
    elif type(c[i]) == int:
        intergers = intergers + 1
       # print(intergers)
    
print(intergers)

10

### Rewrite the following expression with a multi-line 'for' loop

In [67]:
print(a)
result = []
C = [element for element in a if element %2 == 0]
for i in range(1,len(a)):
    if a[i] %2 == 0:
        result.append(a[i])
print(result)

[1, 3, 2, 7, 4, 10, 46]
[2, 4, 10, 46]

### Create a function that takes a string as input and returns the first single letter of the string

In [89]:
str_enter = input("Enter a string")

def GetFisrtLetter1(phrase):
    return phrase[0]
    
GetFisrtLetter1(str_enter)

Enter a stringqdsgqdfg

'q'

## c) Dictionaries

### Create a car dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [144]:
Dic_values = {"brand":"Ford", "model":"Mustang", "year":'1964'}

for item in Dic_values:
     print(item, Dic_values[item].rjust(13))

brand          Ford
model       Mustang
year          1964

### Access to the "year" value

In [145]:
print(Dic_values['year'])

1964

###  Use a loop to display all the dictionary keys

In [ ]:
for key in Dic_values.keys():
    print(key)

###  Use a loop to display all the dictionary value

In [159]:
for val in Dic_values.values():
    print(val)

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (enumerate function).

In [ ]:
for item in enumerate(Dic_values):
#     print(enumerate(Dic_values.items))
    print(item)

### With the help of a comprehension dictionary create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### exemple de dictionnaire comprehension :
```
dict = {key:value for key, value in list_1, list_2}
```

In [291]:
list_1 = ['cle_1','cle_2','cle_3']
list_2 = ["dictionary 'car'","dictionary 'car'","dictionary 'car'"]

lst = dict( zip( list_1, list_2))

{key:value for key,value in enumerate(lst.items())}

{0: ('cle_1', "dictionary 'car'"),
 1: ('cle_2', "dictionary 'car'"),
 2: ('cle_3', "dictionary 'car'")}

## d) Functions

### Create a fibonacci function (fibonacci sequence: 0 1 1 2 3 5 8 13 ...)
Ex : ``fibonacci(13) return [0,1,1,2,3,5,8,13]``

In [296]:
def fib(term):
    if term <= 1:
        return (term)
    else:
        return (fib(term-1) + fib(term-2))

number = 10
for i in range(number):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

### Execute your function (fibonacci(100) must be executed in less than 1 second)

In [295]:
number = 10
for i in range(number):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

### Create a fibonacci function using a generator
Ex : ``generate_fibonacci(10) ``

In [301]:
def fib(term):
    if term <= 1:
        yield (term)
    else:
        yield (fib(term-1) + fib(term-2))

number = 5
for i in range(number):
    print(fib(i))

<generator object fib at 0x000002461B3CA348>
<generator object fib at 0x000002461B3CA348>
<generator object fib at 0x000002461B3CA348>
<generator object fib at 0x000002461B3CA348>
<generator object fib at 0x000002461B3CA348>